[submodule "hbondra_cs131"]
        path = hbondra_cs131
        url = https://github.com/HollyBondra/hbondra_cs131
        branch = main
[submodule "nguyen_project"]
	path = nguyen_project
	url = https://github.com/AlexanderNguyenCS/my-project.git
[submodule "gregCarlson_cs131"]
	path = gregCarlson_cs131
	url = https://github.com/GregCarlsonCS/CS131_SemesterProject
[submodule "dlockwood_cs131_presentation"]
	path = dlockwood_cs131
	url = https://github.com/dlockwood0281/dlockwood_cs131.git
[submodule "moreno_cs131"]
	path = moreno_cs131
	url = https://github.com/JeffreyMoreno/CS-131-Semester-Presenation.git
[submodule "dvelasco_cs131_presentation"]
	path = dvelasco_cs131_presentation
	url = https://github.com/DanielVelascoCS/AI-in-the-world
[submodule "jaycee42_cs131"]
	path = jaycee42_cs131
	url = https://github.com/Jaycee42/LLM-Coding-Comparison
[submodule "elsavosganian_cs131"]
	path = elsavosganian_cs131
	url = https://github.com/ElsaVosganianCS/cs131_semester_project
