[submodule "hbondra_cs131"]
        path = hbondra_cs131
        url = https://github.com/HollyBondra/hbondra_cs131
        branch = main
[submodule "nguyen_project"]
	path = nguyen_project
	url = https://github.com/AlexanderNguyenCS/my-project.git
[submodule "gregCarlson_cs131"]
	path = gregCarlson_cs131
	url = https://github.com/GregCarlsonCS/CS131_SemesterProject
[submodule "dlockwood_cs131_presentation"]
	path = dlockwood_cs131
	url = https://github.com/dlockwood0281/dlockwood_cs131.git
